<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @reply.content %>
</p>

<p>
  <b>Name:</b>
  <%= @reply.name %>
</p>

<p>
  <b>Answer:</b>
  <%= @reply.answer_id %>
</p>


<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
