<div id="content">
  <section>
    <article id="news">
      <% @articles.reverse_each do |article| %>  
        <ul id="artykuly" class="box">
          <li><header id="tytul" class="artykuly-post"><h1><%= link_to article.name, article %></h1></header></li>
          <li><p id="tresc"><%= raw truncate(article.content, :length => 1500, :separator => ' ') %></p></li>
        </ul>
        <center><%= link_to 'Show', article %> <%= link_to 'Edit', edit_article_path(article) %> <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></center>
      <% end %>
    </article>
  
    <center><%= link_to 'New Article', new_article_path %></center>
  </section>
</div>