<h1>Listing about_mes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @about_mes.each do |about_me| %>
  <tr>
    <td><%= about_me.name %></td>
    <td><%= about_me.content %></td>
    <td><%= link_to 'Show', about_me %></td>
    <td><%= link_to 'Edit', edit_about_me_path(about_me) %></td>
    <td><%= link_to 'Destroy', about_me, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New About me', new_about_me_path %>
